#highlight {
  background: url(https://source.unsplash.com/1000x1000/daily?waste,garbage,trash,recycling)center / cover no-repeat;
}

#usericon-desktop {
  cursor: pointer;
}

#usericon-mobile {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

