<!DOCTYPE html>
<html lang="ko" oncontextmenu="return false" ondragstart="return false" onselectstart="return false" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>마이페이지 - 분리ㅅㄱ</title>
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="Publisher" content="분리ㅅㄱ">
    <meta http-equiv="Author" content="옥재욱">
    <meta name="twitter:title" content="분리ㅅㄱ">
    <meta property="og:image" content="https://blisgo-client-renew.duckdns.org/assets/img/favicon/favicon512x512.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="description" content="분리배출 도우미">
    <meta property="og:type" content="website">
    <meta name="twitter:description" content="분리배출 도우미">
    <meta name="twitter:image" content="https://blisgo-client-renew.duckdns.org/assets/img/favicon/favicon512x512.png">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicon/favicon180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicon/favicon180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/favicon192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicon/favicon512x512.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/assets/css/cmmn/style.css">
<link rel="manifest" href="/manifest.json" />
<pwa-update></pwa-update>
<style>#main{padding-top: 56px;}</style><style>
.pass_input_re_1{
		color : green;
		display : none;
	}

.pass_input_re_2{
		color : red;
		display : none;
	}
</style>
</head>

<body class="bg-light">
    <main id="main" class="vh-100">
        <div class="container h-100 g-0">
            <div class="card bg-light border-0">
                <div class="card-body">
                    <div class="row g-0">
                        <div class="col-auto">
                            <form id="profile" th:method="put" th:action="@{~/user/mypage/update-profile-img}" enctype="multipart/form-data"><input class="form-control d-none" type="file" id="upload" name="upload-img" accept="image/*">
                                <div class="vstack position-relative"><img class="img-fluid border rounded-circle border-0" id="usericon-desktop-image" src="https://i.pravatar.cc/200" width="100px" alt="프로필이미지" th:src="${session.mem.profileImage}"><label class="form-label m-0" id="upload-img" for="upload"><span class="badge bg-dark border rounded-circle border-0 btn btn-dark position-absolute bottom-0 end-0 p-1" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" title="사진 업로드"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="m-1">
                                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                <path d="M194.6 32H317.4C338.1 32 356.4 45.22 362.9 64.82L373.3 96H448C483.3 96 512 124.7 512 160V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V160C0 124.7 28.65 96 64 96H138.7L149.1 64.82C155.6 45.22 173.9 32 194.6 32H194.6zM256 384C309 384 352 341 352 288C352 234.1 309 192 256 192C202.1 192 160 234.1 160 288C160 341 202.1 384 256 384z"></path>
                                            </svg></span></label></div>
                            </form>
                        </div>
                        <div class="col align-self-center ps-2">
                            <div class="vstack gap-2">
                                <div>
                                    <h4 class="d-inline" th:text="${session.mem.nickname}">옥재욱</h4>
                                </div>
                                <h6 class="text-muted" th:text="${session.mem.email}">okjaeook98@gmail.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div>
                        <ul class="nav nav-pills nav-fill bg-white border rounded border-light mb-2" role="tablist">
                            <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="pill" href="#tab-dogam">도감</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="pill" href="#tab-settings">설정</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-dogam">
                                <div class="container h-100 g-0">
                                    <div class="row g-0" id="dictionaries">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-1 product" id="dictionary" th:each="dogam: ${dogamList}">
                                            <figure class="figure position-relative mb-0" data-aos="zoom-in"><a th:href="@{~/dictionary/{dicNo}(dicNo=${dogam.dictionary.dicNo})}"><img class="img-fluid" src="https://via.placeholder.com/640" width="640px" height="640px" alt="사전 이미지" th:src="${dogam.dictionary.thumbnail}"></a>
                                                <figcaption class="figure-caption text-center bg-black bg-opacity-50 p-1 text-white position-absolute bottom-0 translate-middle-x start-50 w-100" th:text="${dogam.dictionary.name}">품명</figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="row g-0 text-center" id="loading">
                                        <div class="col text-center p-2"><span class="spinner-grow spinner-grow-sm" role="status"></span><small class="form-text">&nbsp;로딩 중...</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-settings">
                                <div class="vstack gap-1"><small class="text-muted">계정</small>
                                    <div class="btn-group-vertical gap-1" role="group"><button class="btn btn-light d-flex align-items-center" type="button" data-bs-target="#modal-password" data-bs-toggle="modal"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="me-2">
                                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                <path d="M282.3 343.7L248.1 376.1C244.5 381.5 238.4 384 232 384H192V424C192 437.3 181.3 448 168 448H128V488C128 501.3 117.3 512 104 512H24C10.75 512 0 501.3 0 488V408C0 401.6 2.529 395.5 7.029 391L168.3 229.7C162.9 212.8 160 194.7 160 176C160 78.8 238.8 0 336 0C433.2 0 512 78.8 512 176C512 273.2 433.2 352 336 352C317.3 352 299.2 349.1 282.3 343.7zM376 176C398.1 176 416 158.1 416 136C416 113.9 398.1 96 376 96C353.9 96 336 113.9 336 136C336 158.1 353.9 176 376 176z"></path>
                                            </svg>비밀번호 변경</button><button class="btn btn-light d-flex align-items-center" type="button" data-bs-target="#modal-removeaccount" data-bs-toggle="modal"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor" class="me-2">
                                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                <path d="M448 336v-288C448 21.49 426.5 0 400 0H352v191.1c0 13.41-15.52 20.88-25.1 12.49L272 160L217.1 204.5C207.5 212.8 192 205.4 192 191.1V0H96C42.98 0 0 42.98 0 96v320c0 53.02 42.98 96 96 96h320c17.67 0 32-14.33 32-32c0-11.72-6.607-21.52-16-27.1v-81.36C441.8 362.8 448 350.2 448 336zM384 448H96c-17.67 0-32-14.33-32-32c0-17.67 14.33-32 32-32h288V448z"></path>
                                            </svg>회원 탈퇴</button></div>
                                    <hr><small class="text-muted">기타</small>
                                    <div class="btn-group-vertical gap-1" role="group"><a class="btn btn-light d-flex align-items-center" role="button" th:href="@{~/faq}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor" class="me-2">
                                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                <path d="M393.1 402.5c34.12-39.32 54.93-90.48 54.93-146.5c0-123.5-100.5-224-223.1-224S.0001 132.5 .0001 256s100.5 224 223.1 224c44.45 0 85.81-13.16 120.7-35.58l46.73 56.08c6.328 7.594 15.42 11.52 24.59 11.52c21.35 0 31.98-18.26 31.98-32.01c0-7.223-2.433-14.49-7.419-20.47L393.1 402.5zM224 416c-88.22 0-160-71.78-160-160s71.78-159.1 160-159.1s160 71.78 160 159.1c0 36.21-12.55 69.28-32.92 96.12L280.6 267.5c-6.338-7.597-15.44-11.53-24.61-11.53c-21.27 0-31.96 18.22-31.96 32.02c0 7.223 2.433 14.49 7.419 20.47l71.53 85.83C279.6 407.7 252.8 416 224 416z"></path>
                                            </svg>FAQ</a><button class="btn btn-light d-flex align-items-center" type="button" th:href="@{~/introduce}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-64 0 512 512" width="1em" height="1em" fill="currentColor" class="me-2">
                                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                <path d="M381.2 172.8C377.1 164.9 368.9 160 360 160h-156.6l50.84-127.1c2.969-7.375 2.062-15.78-2.406-22.38S239.1 0 232 0h-176C43.97 0 33.81 8.906 32.22 20.84l-32 240C-.7179 267.7 1.376 274.6 5.938 279.8C10.5 285 17.09 288 24 288h146.3l-41.78 194.1c-2.406 11.22 3.469 22.56 14 27.09C145.6 511.4 148.8 512 152 512c7.719 0 15.22-3.75 19.81-10.44l208-304C384.8 190.2 385.4 180.7 381.2 172.8z"></path>
                                            </svg>Contributers</button></div>
                                    <hr><small class="text-muted">실험</small>
                                    <div class="btn-group-vertical gap-1" role="group"><button class="btn btn-light text-start form-label form-check form-switch" type="button" for="flexSwitchCheckDefault"><label class="form-label m-0" for="flexSwitchCheckDefault"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" class="me-2">
                                                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                                    <path d="M32 256c0-123.8 100.3-224 223.8-224c11.36 0 29.7 1.668 40.9 3.746c9.616 1.777 11.75 14.63 3.279 19.44C245 86.5 211.2 144.6 211.2 207.8c0 109.7 99.71 193 208.3 172.3c9.561-1.805 16.28 9.324 10.11 16.95C387.9 448.6 324.8 480 255.8 480C132.1 480 32 379.6 32 256z"></path>
                                                </svg>다크 모드</label><input class="float-end form-check-input" type="checkbox" id="flexSwitchCheckDefault-1"></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-password">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <form th:method="put" th:action="@{~/user/mypage/update-password}">
                    <div class="modal-header">
                        <h4 class="modal-title">비밀번호 변경</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-auto flex-fill py-1"><label class="form-label"><strong>현재 비밀번호</strong></label><input class="form-control" type="password" name="pass" required=""></div>
                            <div class="col-auto flex-fill py-1"><label class="form-label"><strong>새 비밀번호</strong></label><input class="form-control" type="password" id="input-new-pass-1" name="newPass" minlength="6" required=""></div>
                        </div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-primary" type="submit">변경</button><button class="btn btn-light" type="button" data-bs-dismiss="modal">취소</button></div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-removeaccount">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">회원탈퇴</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>탈퇴 후 데이터는 모두 사라지며 복구할 수 없습니다.</p>
                </div>
                <div class="modal-footer"><a class="btn btn-danger" role="button" th:href="@{~/user/mypage}" th:method="delete">확인</a><button class="btn btn-light" type="button" data-bs-dismiss="modal">취소</button></div>
            </div>
        </div>
    </div><!-- Start: Thymeleaf Navbar -->
    <div th:replace="~{/cmmn/navbar::navbar}" th:if=""></div><!-- End: Thymeleaf Navbar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/cmmn/aos.mjs" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-throttle-debounce"></script>
    <script src="/assets/js/user/dogam-more.js"></script>
    <script src="/assets/js/user/pass-check.js"></script>
    <script src="/assets/js/user/profile-update.js"></script>
</body>

</html>