<!DOCTYPE html>
<html lang="ko" oncontextmenu="return false" ondragstart="return false" onselectstart="return false" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>사전 - 분리ㅅㄱ</title>
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="Publisher" content="분리ㅅㄱ">
    <meta http-equiv="Author" content="옥재욱">
    <meta name="twitter:title" content="분리ㅅㄱ">
    <meta property="og:image" content="https://blisgo-client-renew.duckdns.org/assets/img/favicon/favicon512x512.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="description" content="분리배출 도우미">
    <meta property="og:type" content="website">
    <meta name="twitter:description" content="분리배출 도우미">
    <meta name="twitter:image" content="https://blisgo-client-renew.duckdns.org/assets/img/favicon/favicon512x512.png">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicon/favicon180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicon/favicon180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/favicon192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicon/favicon512x512.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos/dist/aos.css">
    <link rel="stylesheet" href="/assets/css/cmmn/style.css">
<link rel="manifest" href="/manifest.json" />
<pwa-update></pwa-update>
<style>#main{padding-top: 56px;}</style>
</head>

<body class="bg-light">
    <main id="main" class="vh-100">
        <section>
            <div class="container h-100 g-0">
                <div class="row g-0 p-1">
                    <div class="col">
                        <div class="vstack m-auto w-auto">
                            <div id="autocomplete"></div>
                        </div>
                    </div>
                </div>
                <div class="row g-0" id="dictionaries">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-1 product" id="dictionary" th:each="dictionary: ${dictionaries}">
                        <figure class="figure position-relative mb-0" data-aos="zoom-in"><a th:href="@{~/dictionary/{dicNo}(dicNo=${dictionary.dicNo})}"><img class="img-fluid" src="https://via.placeholder.com/640" width="640px" height="640px" alt="사전 이미지" th:src="${dictionary.thumbnail}"></a>
                            <figcaption class="figure-caption text-center bg-black bg-opacity-50 p-1 text-white position-absolute bottom-0 translate-middle-x start-50 w-100" th:text="${dictionary.name}">품명</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row g-0 text-center" id="loading">
                    <div class="col text-center p-2"><span class="spinner-grow spinner-grow-sm" role="status"></span><small class="form-text">&nbsp;로딩 중...</small></div>
                </div>
            </div>
        </section>
    </main><!-- Start: Thymeleaf Navbar -->
    <div th:replace="~{/cmmn/navbar::navbar}" th:if=""></div><!-- End: Thymeleaf Navbar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/cmmn/algolia.mjs" type="module"></script>
    <script src="/assets/js/cmmn/aos.mjs" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-throttle-debounce"></script>
    <script src="/assets/js/dictionary/load-more.mjs" type="module"></script>
</body>

</html>